
<style>
    .blur {
        filter: blur(3px); /* Someday, sigh ... */
        -webkit-filter: blur(3px); /* Prefixed CSS3 blur filters */
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: url(#blur); /* Firefox needs SVG */
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); /* IE lte 9 */
    }
</style>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <filter id="blur">
            <feGaussianBlur stdDeviation="5"/>
        </filter>
        <filter id="drop-shadow">
            <feGaussianBlur in="SourceAlpha" stdDeviation="2"/>
            <feOffset dx="3" dy="3" result="offsetblur"/>
            <feFlood flood-color="#000000"/>
            <feComposite in2="offsetblur" operator="in"/>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
</svg>
<div class="popupOverlay">
    <div class="EXTENDER">
        <div class="COLS">
            <div class="popupLeftCol"></div>
            <div class="popupCenterCol ROWS">
                <div class="popupTopRow"></div>
                <div class="popupMiddleRow">
                    <div class="EXTENDER">
                        <div class="ROWS">
                            <div class="ROW" style="height: 75px">
                                <div class="EXTENDER">
                                    <div class="PADDER15" style="border-bottom: solid 1px rgba(0,0,0,0.1)">
                                        <div class="EXTENDER">
                                            <div class="COLS">
                                                <div class="COL" style="width:100px;line-height: 35px">
                                                    <div>
                                                        <i class='icon ti-close'></i>&nbsp;Delete
                                                    </div>
                                                </div>
                                                <div class="COL-FLEX">title</div>
                                                <div class="COL" style="width:100px; line-height: 35px; text-align: right">
                                                    <div>
                                                        Delete&nbsp;<i class='icon icon-lg ti-check'></i>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ROW-FLEX">
                                we
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBottomRow"></div>
            </div>
            <div class="popupRightCol"></div>
        </div>
    </div>

</div>